<!-- steps section starts -->
  <section class="steps">
    <div class="box">
      <img src="{% static 'food_menu/img/step-1.jpg' %}" alt="">
      <h3>choose your favorite food</h3>
    </div>
    <div class="box">
      <img src="{% static 'food_menu/img/step-2.jpg' %}" alt="">
      <h3>free and fast delivery</h3>
    </div>
    <div class="box">
      <img src="{% static 'food_menu/img/step-3.jpg' %}" alt="">
      <h3>choose your favorite food</h3>
    </div>

    <div class="box">
      <img src="{% static 'food_menu/img/step-4.jpg' %}" alt="">
      <h3>and finally , enjoy your food</h3>
    </div>

  </section>
  <!-- steps section end -->
